* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  padding: 0;
}
.instructions {
  position: fixed;
  margin: 50px 0 0 0;
  width: 30vw;
  left: 35vw;
}
.bScore {
  position: fixed;
  left: 30vw;
}
.pScore {
  position: fixed;
  right: 30vw;
}
.centerLine {
  width: 2px;
  height: 90vh;
  position: fixed;
  left: calc(50% - 1px);
  z-index: -1;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.playspace {
  height: 90vh;
  width: 90vw;
  align-items: center;
  margin: 0 5vw 0 5vw;
}
.ball {
  height: 50px;
  width: 50px;
  position: fixed;
  left: calc(50% - 25px);
}
.paddle {
  height: 200px;
  width: 30px;
  position: fixed;
}
.player {
  left: calc(95vw - 31px);
}
